#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=goland
Comment=goland
Exec=/root/soft/GoLand-2018.2/bin/goland.sh
Icon=/root/soft/GoLand-2018.2/bin/goland.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;Development;
