[Desktop Entry]
Encoding=UTF-8
Name=Eclipse
Comment=Eclipse IDE
Exec=/root/soft/eclipse-neon/eclipse/eclipse
Icon=/root/soft/eclipse-neon/eclipse/icon.xpm
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;Development;
